.Battle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: '/assets/export-pizza-legends-demoroom-lower-map-01.svg';
  background-size: cover;
  image-rendering: pixelated;
}
