$scale: 2;
$crop: 128px;

.Battle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url('/assets/pizza-legends-battle-map-01.svg');
  background-size: cover;
  image-rendering: pixelated;
  & .Battle_hero {
    bottom: 16rem;
    left: 0;
    & img {
      transform: scale($scale) translateX(0px) translateY(-64px);
    }
  }
  & .Battle_enemy {
    right: 0;
    top: 16rem;
    & img {
      transform: scale($scale) translateX(0px) translateY(0px);
    }
  }
  & .Battle_hero, .Battle_enemy {
    position: absolute;
    width: $crop;
    height: $crop;
    overflow: hidden;
    & img {
      pointer-events: none;
    }
  }
}

// ========== Animations ===================================================================

@keyframes battle-damage-blink {
  to {
    visibility: hidden;
  }
}

.battle-damage-blink {
  animation: battle-damage-blink 0.3s steps(2, start) infinite;
}

@keyframes battle-spin-right {
  0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(3) }
  25% { transform: translate3d(200%, -25%, 0) rotate(45deg) scale(3) }
  100% { transform: translate3d(0, 0, 0) scale(3) }
}

.battle-spin-right {
  animation: battle-spin-right 0.8s;
}

@keyframes battle-spin-left {
  0% { transform: translate3d(0, 0, 0) rotate(0deg) scale(3) }
  25% { transform: translate3d(-200%, 25%, 0) rotate(-45deg) scale(3) }
  100% { transform: translate3d(0, 0, 0) scale(3) }
}

.battle-spin-left {
  animation: battle-spin-left 0.8s;
}
