.TitleScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  & .KeyboardMenu {
    // border: 1px solid red;
    & button {
      background: #000;
      color: #ddd;
    }
  }
  & .DescriptionBox {
    // background: transparent;
    color: #ddd;
    // border: 0;
    // text-align: center;
  }
}

.TitleScreen_logo {
  display: block;
  margin: 0 auto;
  width: 128px;
  image-rendering: pixelated;
}

// .TitleScreen .DescriptionBox {
//   background: transparent;
//   color: #fff;
//   border: 0;
//   text-align: center;
// }
