$font-color: #ddd;
$background-color: #000;

.TitleScreen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $background-color;
  & .KeyboardMenu {
    & button {
      background: $background-color;
      color: $font-color;
    }
  }
  & .DescriptionBox {
    color: $font-color;
    font-style: italic;
    display: flex;
    justify-content: center;
  }
}

.TitleScreen_logo {
  display: block;
  margin: 0 auto;
  width: 128px;
  image-rendering: pixelated;
}
