<mat-sidenav-container id="sidenav-container">
  <mat-sidenav id="sidenav-nav" mode="side" opened>
    <nav>
      <mat-list role="list">
        <mat-list-item
          role="listitem"
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <span>Login</span>
        </mat-list-item>

        <mat-list-item
          role="listitem"
          routerLink="/dashboard"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <span>Dashboard</span>
        </mat-list-item>

        <mat-list-item
          role="listitem"
          routerLink="/open-world"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <span>Open World</span>
        </mat-list-item>
      </mat-list>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content id="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
