/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.TextMessage {
  bottom: 0;
  height: 2rem;
  left: 0;
  position: absolute;
  right: 0;
  & .TextMessage_p {
    
    font-size: 1rem;
    margin: 0;
  }
  & .TextMessage_button {
    bottom: 0;
    position: absolute;
    right: 1rem;
  }
}