/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.TextMessage {
  border: 2px solid #fff;
  font-size: 1rem;
  width: 640px;   // this width is set on the <canvas> element in the overworld template
  & .TextMessage_p {
    margin: 0;
    padding: 1rem;
    & span {
      opacity: 0;
    }
    & span.revealed {
      opacity: 1;
    }
  }
  & .TextMessage_button {
    margin: 0 0 1rem 1rem;
  }
}